<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>New York Times Search Results</title>
  <div th:replace="fragments :: header"/>
</head>
<body>
<div th:replace="fragments :: navigation"/>
<div class="container">
  <div class="bg-light p-4 rounded m-2">
    <h1 class="display-4">Search Results</h1>
    <th:block th:unless="${articleList.isEmpty()}">
      <div class="row justify-content-center">
        <div class="col-auto" th:each="article: ${articleList}">
          <div class="card" style="width: 18rem; height: 34rem;">
            <div class="card-body">
              <h5 class="card-title" th:text="${article.abstractDescription}">title</h5>
              <p class="card-text" th:text="${article.snippet}">summary</p>
              <p class="card-text" th:text="${article.leadParagraph}">section</p>
              <a th:href="${article.web_url}" class="btn btn-primary">Read More..</a>

            </div>
          </div>
        </div>
      </div>
    </th:block>
  </div>
</div>
<div th:replace="fragments :: footer"/>
</body>
</html>